# Ignore all __pycache__ directories
**/__pycache__/
**/*.pyc
**/.pytest_cache

# Ignore all .egg-info directories
*.egg-info/

# Ignore specific test model file
tests/test_models/*

# Virtual environment
venv/
env/
.venv/

# Build and Dist directories
build/
dist/
