# Ignore all __pycache__ directories
**/__pycache__/
**/*.pyc
**/.pytest_cache

# Ignore all .egg-info directories
*.egg-info/

# contextclipper files
.contextclipperignore
contextoutput.txt

# Ignore specific test model file
tests/test_models/*
